<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <table>
      <tr>
        <th>Tipo</th>
        <th>Data</th>
        <th>Valor</th>
        <th>CPF</th>
        <th>Cartão</th>
        <th>Hora</th>
        <th>Dono da loja</th>
        <th>Nome da loja</th>
      </tr>
      {% for item in lista%}

      <tr>
        <td>{{ item.tipo }}</td>
        <td>{{ item.data }}</td>
        <td>{{ item.valor }}</td>
        <td>{{ item.cpf }}</td>
        <td>{{ item.cartao }}</td>
        <td>{{ item.hora_transacao }}</td>
        <td>{{ item.dono_loja }}</td>
        <td>{{ item.nome_loja }}</td>
      </tr>

      {% endfor %}
    </table>
  </body>
</html>
